{% extends 'layout.html' %}
{% block body %}

<!-- <h1>404: OOPSIE WOOPSIE!!</h1> -->
<h1>404 Error</h1>
<p>
    <!-- Uwu We made a fucky wucky!! A wittle fucko boingo! The code monkeys at our headquarters are working VEWY HAWD to fix this! -->
    404: You must've taken a wrong turn
</p>

{% endblock %}