{% with messages = get_flashed_messages(with_categories=true) %} <!-- Allows for different types of messages: success = green, info = blue, warning = yellow, danger = red -->
	{% if messages %}
		{% for category, message in messages %}
			<div class="alert alert-{{category}}"> {{ message }} </div> <!-- not logic, so just double curlies -->
		{% endfor %}
	{% endif %}

	{% if error %}
			<div class="alert alert-danger">{{ error }}</div>
	{% endif %}

	{% if msg %}
			<div class="alert alert-danger">{{ msg }}</div>
	{% endif %}

{% endwith %}