<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: rgb(37, 182, 97);">
		<a class="navbar-brand" href="/">Mootbank</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	
		<!-- Create a left-hand-side cestion of the navbar -->
		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<!-- <li class="nav-item active">
					<a class="nav-link" href="/">Home<span class="sr-only"></span></a>
				</li> -->
				
				<li class="nav-item active">
					<a class="nav-link" href="/moots/new">Recent moots</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/moots/top">Top moots</a>
				</li>

				<li class="nav-item active">
					<a class="nav-link" href="/users">Users</a>
				</li>

			</ul>
	
	
			<ul class="nav navbar-nav navbar-right"> 

				<!-- Searchbar -->
				<form class="form-inline my-2 my-lg-0" method="POST" action = "/search">
					<input id = "query" name = "query" class="form-control mr-sm-2" type="text" placeholder = "Separate keywords with spaces" aria-label = "Search">
					<button id = "searchButton" name = "searchButton" class="btn my-2 my-sm-0 btn-light" type="submit">Search</button>
				</form>

				<!-- <br><br><br> -->

				{% if session.logged_in %}
					<li class="nav-item active">
						<a class="nav-link" href="/moots/user/{{session['username']}}">{{session["username"]}}</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/submit">Submit a Moot</a>
					</li>
					<!-- <li class="nav-item active">
						<a class="nav-link" href="/user/{{session['username']}}">{{ session['username'] }}</a> 
						display the user's name instead of hard-coded text
					</li> -->
					<li class="nav-item active">
						<a class="nav-link" href="/logout">Logout</a>
					</li>
				{% else %}
					<li class="nav-item active">
						<a class="nav-link" href="/register">Register</a>
					</li>

					<li class="nav-item active">
						<a class="nav-link" href="/login">Login</a>
					</li>	
				{% endif %}
			</ul>
			
	
			
	
	
			<!-- <li class="nav-item">
				<a class="nav-link disabled" href="#">Disabled</a>
			</li> -->
			<!-- <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
				<div class="dropdown-menu" aria-labelledby="dropdown01">
				<a class="dropdown-item" href="#">Action</a>
				<a class="dropdown-item" href="#">Another action</a>
				<a class="dropdown-item" href="#">Something else here</a>
				</div>
			</li> -->
			
			<!-- <form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form> -->
		</div>
	</nav>
