#mainContent {
	margin: 2%;
	margin-top: 6%;
	/*outline: 1px solid green;*/
	/* background-color: rgba(255, 255, 255, 0.5); */
	border-radius: 10px;
	padding: 1%;
	margin-bottom: 2%;
} 

.starter-Template {
	padding: 3rem 1.5rem;
	text-align: center;
	/* background-color: aquamarine; */
}

body {
	/* background-color: #f4f9ff; */
	/* font-family: 'comic sans ms'; */
	/* font-family: 'Concert One', 'comic sans ms', sans-serif; */
	/* font-family: 'papyrus'; */
	/* background-image: url(resources/doge.jpg); */
	background-size: 100%;
	/* color: #FFFFFF; */
	background-color: #FFFFFF;
	font-family: 'Nanum Gothic', sans-serif;
}


.navbar input.form-control { width: 400px!important; } 
/* This is CSS to make the searchbar wider. I fiddled around with width:150%; but it didn't work. Thanks Bootstrap fourms! */



#mootList {
	background-color: #2ECC71;
	padding: 0.1%;
	border-radius: 10px;
	/* white-space: pre-wrap; */
}

.mootListItem {
	background-color: #FFFFFF;
	/* background-color: blanchedalmond; */
	margin: 1%;
	padding: 1%;
	border-radius: 10px;
	/* outline: 1px solid green; */
}

.mootRightArea {
	float: right;
	/* width: 30%; */
	/* outline: 1px solid darkred; */
	text-align: right;
	max-width: 20%;
}

.mootMainArea {
	float: left;
	height: 100%;
	/* width: 69%; */
	/* outline: 1px solid red; */
	/* white-space: pre-wrap; */
}

h1 {
	/* font-family: 'Quicksand', sans-serif; */
	font-family: 'Nanum Gothic', sans-serif;
	padding-left: 1%;
}


/* .mootRadioArea {
	background-color: #FFFFFF;
	border-radius: 4px;
	height: 100px;
} */


.mootVoteRadio input {
	display: none;
}

.mootVoteRadio {
	-webkit-text-stroke: 1px #2ECC71;
	-webkit-text-fill-color: #CEFFD7;
	font-size: 1.5em;
	/* font-family: serif; */
	/* font-family: "SymbolaRegular";
	font-weight: normal;
	font-style: normal;  */


	/* background-color: #FFFFFF; */
	border-radius: 2px;
	/* width: 1.5em; */
	margin-right: -2px;
	margin-left: 0px;
	/* outline: 2px solid #FFFFFF; */
	/* box-shadow: 0 0 0 3px #FFFFFF; */
}

.mootVoteRadioVoted {
	-webkit-text-stroke: 2px #2ECC71;
	/* -webkit-text-fill-color: yellow; */
}

.mootVoteRadio:hover {
	-webkit-text-stroke: 2px #2ECC71;
	/* -webkit-text-fill-color: yellow; */
	/* font-family: serif; */
}


.bg-primary {
	color: rgba(255, 255, 255, 0.5);
	/* background-color: aquamarine; */
  }


.mootInfoArea {
	float: bottom;
	/* outline: 1px solid blue; */
	/* bottom:0; */
	/* position: absolute; */
	display:flex;
	margin-left: 2%;
	width: 100%;
}

.pageNumSelector {
	text-align: center;
	width: 100%;
	/* padding-top: 1%; */
}

