{% extends 'layout.html' %}
{% block body %}

<h1>Hello {{inStr}}</h1>
<p>
    Your URL is /customURL/{{inStr}}<br>
    using double {} with a variable inside displays it (e.g. &#123;&#123;varName}} )
</p>

{% endblock %}