{% extends 'layout.html' %}
{% block body %}

<h1>Home</h1>
<p>
    Welcome to Matt's Debating Mootbank!<br>
    Here, you can see <a href="/moots/top">top</a> and <a href="/moots/new">new</a> moots submitted by users!

    <h3>How to search</h3>
    The searchbox allows you to search moots (the titles) by keyword. Each word you enter into the searchbox (separated by spaces) is a separate keyword. Moots that match at least one keyword are returned, sorted by how many matches they contain. 
</p>

{% endblock %}