<!doctype html>
<html lang="en">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<!-- $primary: red; -->

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">

		<link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet"> 
		<!-- <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/symbola" type="text/css"/>  -->
		<!-- The font that supports the half-star character -->

		<!-- Get the google star stuff, so I can do half-stars -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Quicksand" rel="stylesheet"> 
		<link rel = "stylesheet" type = "text/css" href="{{url_for('static', filename = 'style.css')}}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='resources/favicon.ico') }}">

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

		<script src = "{{url_for('static', filename = 'js.js')}}"></script>

		<title>Matt's Debating Mootbank</title>
	</head>
	
	<body>
		{% include "includes/_navbar.html" %} <!--Display the navbar-->
		

		<div id="mainContent">
			{% include "includes/_messages.html" %}
			
			{% block body %}
			{% endblock %}
		</div>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<!-- <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script> -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>


		<!-- Setting the root dir to a var for ajax, magic from http://flask.pocoo.org/docs/1.0/patterns/jquery/ -->
		<script type=text/javascript>
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		  </script>
	</body>
</html>
