{% extends 'layout.html' %}
{% block body %}

<h1>All users</h1>

<!-- NOTE: While this isn't the moot list page, it uses the same CSS (and thus div classes) to make making changes easier -->


<div id = "mootList">
	{% if showList %}
		{% for user in showList %}
		<div class = "mootListItem">
			<div class = "mootMainArea">
				<h4>
					{% if user.user_name == currentUsername %}
						<i><strong>{{user.user_name}}</strong></i>
					{% else %}
						{{user.user_name}}
					{% endif %}
				</h4>
				{% if user.user_admin == 1 %}
					<i>Admin</i><br>
				{% endif %}
				

				<!-- <div class="mootInfoArea"> -->
				{% if user.user_id | getNumMootsFromUser != 0 %}
					Posted&nbsp;<a href="/moots/user/{{user.user_name}}">{{user.user_id | getNumMootsFromUser}} moots</a>
				{% else %}
					Posted no moots
				{% endif %}

				{% if currentUsername | getUserAdmin == True %}
					{% if user.user_name != currentUsername %}
						<br>
						<strong> |
						{% if user.user_admin == 1 %}
							<a href = "/user/demote/{{user.user_id}}" style = "color: red;">Demote</a>
						{% else %}
							<a href = "/user/promote/{{user.user_id}}">Promote</a>
						{% endif %}
						| </strong>
					{% endif %}
				
				{% endif %}
				<!-- </div> -->

			</div>
			
	  
			
			<br style="clear:both;"/> <!-- This keeps the main container div from shrinking to shorter than the left and right divs inside -->
		</div>
		{% endfor %}
	{% else %}
		<h3>No results found</h3>
		Try more generic search terms
	{% endif %}
</div>


{% endblock %}