{% extends 'layout.html' %}
{% block body %}

<script type=text/javascript>
	//alert("tyruighd")
	$(document).ready(function() {
		$('input[type="radio"]').click(function() {

			id = this.id
			//alert(id)
			voteScore = $(this).val()
			//alert(voteScore)
			this.checked = false;

			$.getJSON($SCRIPT_ROOT + '/_vote', {
				// This is where I build the data to send back to flask
				mootID: id, 
				voteScore: voteScore
	
			}, function(data) {
				if (data.result > 0) {
					//console.log(data.result, id)
					//console.log("#voteResult_"+id)
					$("#voteResult_"+id).text(data.result);

					//$("#moot_31_id_2").text(data.result);

					//alert(id)
					//alert(data.result)

					for (i=1; i < 6; i++) {
						//alert(i)
						//alert("#moot_" + id + "_id_" + i);
						//alert(voteScore)

						starStr = ""
						if (voteScore == i) {
							starStr += '<span class="mootVoteRadioVoted">'
						}
						//This is the same logic as in the jinja, if changing one, change the other!
						if (data.result - (i-1) < 0.05) {
							starStr += '<i class="material-icons">star_border</i>'
						} else if (data.result - (i-1) < 1) {
							starStr += '<i class="material-icons">star_half</i>'
						} else {
							starStr += '<i class="material-icons">star</i>'
						}

						if (voteScore == i) {
							starStr += '</span>'
						}


						$("#moot_" + id + "_id_" + i).html(starStr);
					}
				}

			});

		});
	});
</script>

<h1>{{showTitle}}</h1>

<div id = "mootList">
	{% if showList %}
		{% for moot in showList %}
		<!-- I use the -%} to remove whitespace from the loop -->
		<div class = "mootListItem">
			<div class = "mootMainArea">
				<h4>{{moot.moot_title}}</h4>
				<!-- {{moot.moot_post_time}} -->
				
				<!-- <br> -->
				{% if moot.moot_body %}
					<div style="white-space: pre-wrap;">
						{{- moot.moot_body -}}
					</div>
				{% endif %}
				

				<div class="mootInfoArea">
					<i>
						{% if currentUsername == moot.moot_owner | getUserName %} 
							<a href="/moots/user/{{moot.moot_owner | getUserName}}">You</a> posted this
						{% else %}
							Posted by <a href="/moots/user/{{moot.moot_owner | getUserName}}">{{moot.moot_owner | getUserName}}</a>
						{% endif %}

						{{moot.moot_post_time | getHumanTime}}

						{% if moot.moot_edited == 1 %}
							(edited)
						{% endif %}
					</i>
				</div>

			</div>


			

			<div class="mootRightArea" id="mootRightArea_{{moot.moot_id}}">
				
				Score: <span class="result" id="voteResult_{{moot.moot_id}}">{{moot.moot_id | getMootScore}}</span> <br>
				
				<!-- <input type=text size=5 name=mootID value={{moot.moot_id}}> -->
				<!-- Change to type=hidden to hide the field from the user -->
				<!-- Vote Score: <input type=text size=5 name=voteScore id={{moot.moot_id}}> <br> -->

				<!-- <div class="voteRadioArea" id="voteRadioArea_{{moot.moot_id}}"> -->
				<span class="mootRadioArea">
				{% for i in range(1,6) %}
					<!-- 
						Make the user's current vote be highlighted 
						PROBLEM: the highlighted one doesn't change when the user votes
					-->
					<!-- {% if i == moot.moot_id | getUserVote %}
						The voted for button
					{% else %}
						The other button
					{% endif %} -->
					<label class = "mootVoteRadio">
					
						<input type="radio" name="radioName" class="radioClass" id="{{moot.moot_id}}" value="{{i}}"/>


						<!-- Check whether to show a full, half, or empty star -->
						<!-- This is the same logic as in the jinja, if changing one, change the other! -->
						<span id="moot_{{moot.moot_id}}_id_{{i}}">

						<!-- If the user has voted for this score -->
						{% if i == moot.moot_id | getUserVote %}
							<span class="mootVoteRadioVoted">
						{% endif %}

						{% if moot.moot_id | getMootScore - (i-1) < 0.05 %}
							<i class="material-icons">star_border</i>
						{% elif moot.moot_id | getMootScore - (i-1) < 1 %}
							<i class="material-icons">star_half</i>
						{% else %}
							<i class="material-icons">star</i>
						{% endif %}

						<!-- If the user has voted for this score -->
						{% if i == moot.moot_id | getUserVote %}
							<span class="mootVoteRadioVoted">
						{% endif %}

						</span>


					</label>
				{% endfor %}
				</span>
				<!-- </div> -->
				<br>
				
				<div class = "optionsBar">
				{% if currentUsername == moot.moot_owner | getUserName %} 
					<!-- <div class = "optionsBar"> -->
						<strong>| 
							<a href = "/moots/edit/{{moot.moot_id}}">Edit</a>
						</strong>
					
					<!-- </div> -->
				{% endif %}

				{% if moot.moot_id | getUserCanDelete %} 
				<!-- If the username logged in is the same as the username that posted this specfic post, show editing options -->
					<!-- <div class = "optionsBar"> -->
						<strong>| 
							<a href = "/moots/delete/{{moot.moot_id}}" style="color: #FF0000;">Delete</a> |
						</strong>
					
					<!-- </div> -->
				{% endif %}
				</div>

				
			</div>
			
	  
			
			<br style="clear:both;"/> <!-- This keeps the main container div from shrinking to shorter than the left and right divs inside -->
		</div>
		{% endfor %}
	{% else %}
		<div class = "mootListItem">
			<h3>No moots</h3>
			Try more generic search terms
		</div>
	{% endif %}
</div>


{% if maxPages != 1 %}
<hr>
<div class = "pageNumSelector">
	|
	{% if currentPage != 1 %}
		<a href = "{{request.path.rstrip('1234567890')[:-5]}}">1</a> &lt;&lt; <!-- Removes the whole 'path' part from the URL -->
	{% endif %}

	{% if currentPage > 2 %}
	<a href = "{{request.path.rstrip('1234567890')}}{{currentPage - 1}}">{{currentPage - 1}}</a> &lt;
	{% endif %}

	<strong>Page {{currentPage}}</strong>
	
	{% if currentPage + 1 < maxPages %}
		{% if request.path.rstrip('1234567890')[-4:] == "page" %}
			&gt; <a href = "{{request.path.rstrip('1234567890')}}{{currentPage + 1}}">{{currentPage + 1}}</a>
		{% else %}
		&gt; <a href = "{{request.path}}/page2">2</a> <!-- If this isn't a numbered page (e.g. the first page in the list), then don't take the prev page number off the end (as it doesn't exist!) -->
		{% endif %}
	{% endif %}

	{% if currentPage < maxPages %}
		{% if request.path.rstrip("1234567890")[-4:] == "page" %}
			&gt;&gt; <a href = "{{request.path.rstrip('1234567890')}}{{maxPages}}">{{maxPages}}</a>
		{% else %}
			&gt;&gt; <a href = "{{request.path}}/page{{maxPages}}">{{maxPages}}</a> <!-- If this isn't a numbered page (e.g. the first page in the list), then don't take the prev page number off the end (as it doesn't exist!) -->
		{% endif %}
	{% endif %}

	|
	
	<!-- <br>
	{{request.path.rstrip("1234567890")}} <br>
	{{request.path.rstrip("1234567890")[-4:]}} <br>
	{{request.path[:-1] + '123'}} <br>
	{{request.path[:-1]}}{{currentPage}} <br>
	{% if request.path.rstrip("1234567890")[-4:] == "page" %}
		This is a numbered page
	{% else %}
		This is not a numbered page
	{% endif %} -->
</div>
<hr>
{% endif %}

{% endblock %}