{% extends 'layout.html' %}
{% block body %}

<h1>Login</h1>
{% from "includes/_formhelpers.html" import render_field %}
<form method="POST" action="">
	<div class="form-group">
		{{render_field(form.username, class_="form-control")}}
	</div>
	
	<div class="form-group">
		{{render_field(form.password, class_="form-control")}}
	</div>
	

	<input type="submit" class="btn btn-primary" value = "Login">
	

</form>

{% endblock %}